* {
    box-sizing: border-box;
    font-family: 'Roboto Mono';
}

body {
    color: grey;
    


}

h1 {
    text-align: center;
    font-weight: 700;
}

h2 {
    text-align: center;
    width: fit-content;
    margin: 40px auto;
}


table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 0.75px solid;
    
}

th {
    background-color: rgb(255, 187, 232);
    
    padding: 10px;
}

td {
    margin-top: 0px;
    padding: 10px;
    border-bottom: 0.75px solid;
    border-right: 0.75px solid;
    
}

.tag {
    background-color: lightyellow;
    font-style: italic;
    border-right: 0.75px solid;
}

.attribute {
    background-color: lightyellow;
    font-style: italic;
}